@import 'navBarConfig.scss';

//general styles*********************************************
$gridOutsidePad: 3rem;
.grid-container{
    grid-column: 2/3;
    height: 100%;
    & .content{
        & .grid-row-2{
            width: 100%;
            padding: 3rem;
            display: inline-grid;
            grid-template-columns: repeat(2,1fr) ; //work out a good spacing/padding for these, and justify content. center vertically.
            grid-auto-rows: minmax(100px, auto);
            justify-items: center;
            align-items: center;

            & .grid-item-1{
                grid-column: 1/2;
                grid-row: auto;
                margin: 1rem;
            }

            & .grid-item-2{
                grid-column: 2/3;
                margin: 1rem;
                align-self: start;
            }

            & .img-wrapper{
                margin: 0 auto;
                width: 80%;
                max-width: 40rem;
                & .img-rounded{
                    border-radius: 15px;
                    height: auto;
                    width: 100%;
                }
            }
            
        }
        & .grid-row-1{
            width: 100%;
            padding: 3rem;
            display: inline-grid;
            grid-template-columns: 3rem repeat(1fr) 3rem; //work out a good spacing/padding for these, and justify content. center vertically.
            grid-auto-rows: minmax(100px, auto);
            justify-items: center;
            align-items: center;

            & .grid-item-1{
                grid-column: 1/2;
                grid-row: auto;
                margin: 1rem;
            }
        }
    }
    
}
//******************grid ends here
.divider{
    background-color: $accentColor;
    height: 10em;
    width: 100%;
    margin-top: 6em;
    margin-bottom: 6em;
    padding-lefT: 0;
}

p.alert{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    background: rgba(255, 0, 0, 0.25);
    color: white;
    width: 100%;
    height: 2em;
    font-size: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 0.1rem;
}

p.alertGood{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    background: rgba(0, 255, 0, 0.25);
    color: white;
    width: 100%;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-outline-primary{
    background: $backgroundColor;
    color: $fontColor;
}

//contact page**************************************************

.contactHeader{
    padding-top: 4rem;
    font-size: 1.15rem;
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.contactFormHeader{
    margin-right: 35%;
    white-space: nowrap;
}

.contactInfo{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;

    .h3{
        padding: 1rem;
    }

    p{
        margin-left: 2rem;
    }
}

.input-group{
    padding-bottom: 2rem;
}

.input-group-addon
{
    color: $fontColor;
    background: $accentColor;
    width: 7rem;
    text-align: center;
}

.btn-primary{
    background: $accentColor3;
    border-color: $backgroundColor;
}

//resume styles *************************************
$resumeBlockHeight: 6em;

.resume{
    width: 80%;
    background: $accentColor;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.resumeHeader{
    margin-top: 5rem;
    
    margin-bottom: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    

    .row{
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
    .imgHeader{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: -3.75rem;
    }

    & .resumeHeaderName{
        font-size: 2.25rem;
    }

}

.resumeBody{
    margin: 0;
}

.resumeBlock{
    background: $accentColor;
    //height: $resumeBlockHeight;
    
    padding: 1rem;
}

.resumeBlockHeader{
    background: $accentColor3;
    font-size: 2rem;
    padding: 1rem;
    margin: -1rem;
    margin-bottom: .5rem;
    text-align: center;
}

.firstBlock{
    & .duration{
        display: inline;
        margin-top: 0.5rem;
    }
}

.secondBlock{
    
}

.technologiesBlock{
    text-align: left;
}

.achievementsBlock{

}