$fontStack: 'PT Mono', monospace;
$fontColor: #99BAC1;
$backgroundColor: #00090E; 
$accentColor: #001e27;
$accentColor2: #00373F;
$accentColor3: #486D75;
$hoverColor: white;
$navPanelWidth: 17.26rem;
$sidebarCollapsedWidth: 3.5rem;
