@import 'navBarConfig';

html, body, .container, .content-wrap {
    font: 100% $fontStack;
    color: $fontColor;
    background-color: $backgroundColor;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
}

.content-wrap{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
	margin-left: $navPanelWidth;
	margin-right: 1rem;
	width: calc(100% - #{$navPanelWidth})
}

.content{
	z-index: 10;
    position: relative;
    background: $backgroundColor;
}

/* buttons */
.menu-button, .close-button, .sideResumeButton, .sideBlogButton, .sideContactButton {
	display: none;
	visibility: hidden;
}

.spacer{
    display: none;
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: $navPanelWidth;
	height: 100%;
	background: $accentColor;
	padding: 1% 0 1% 0;
	font-size: 1.15em;

    a {
        &:hover, &:focus{
            	color: $hoverColor;
                background: none;
        }
		&:active{
			color: $hoverColor;
			background: $accentColor3;
			width: 100%;
		}
    }
}

menu,
.menu-list {
    overflow: hidden;
}

.menu{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.menu-list {
	height: 23em;
	min-height: 9em;
    padding-left: 0;
	padding-bottom: 1.5em;
	overflow-x: hidden;

    a {
        display: block;
    	text-align: center;
    }
}

/*Begin common parts*/
@import 'navBarCommon';
@import 'common'