@import 'navBarConfig.scss';

html, body, .container, .content-wrap {
    font: 100% $fontStack;
    color: $fontColor;
    background-color: $backgroundColor;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
}

.content-wrap{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &::before{
        position: absolute;
        top: 0;
        left:0;
        z-index: 10;
        width: 100%;
        background: rgba(0,0,0,0.5);
        content: '';
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
        transition: opacity 0.4s, transform 0s 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        }
}

.content{
    position: relative;
    background: $backgroundColor;
	margin-left: $sidebarCollapsedWidth;
	margin-right: 0.25rem;    
}

/* Menu Button */
.menu-button {
	position: fixed;
    top: .25em;
    left: .25em;
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: $fontColor;
	background: transparent;
    opacity: 0.8;
    width: 1.75em;
    height: 1.75em;

    &:hover{
        opacity: .8;
    }
}

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 1em;
	border: none;
	background: transparent;
	color: transparent;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        background: $fontColor;
    }

    &::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &::after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/*Buttons for the sidebar with menu*/
.sideResumeButton{
    position: fixed;
    top: 2.35em;
    left: 0.7em;
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: $fontColor;
	background: transparent;
    opacity: 0.8;
}

.sideBlogButton{
    position: fixed;
    top: 4.15em;
    left: 0.575em;
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: $fontColor;
	background: transparent;
    opacity: 0.8;
}

.sideContactButton{
    position: fixed;
    bottom: .75em;
    left: 0.68em;
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: $fontColor;
	background: transparent;
    opacity: 0.8;
}

.spacer{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: $sidebarCollapsedWidth;
    background: $accentColor;
    z-index: 999;
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: $navPanelWidth;
	height: 100%;
	background: $accentColor;
	padding: 1% 0 1% 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-16em,0,0);
	transform: translate3d(-16em,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);

    a {
        color: #b8b7ad;

        &:hover, &:focus{
            	color: $hoverColor;
                background: none;
        }
		&:active{
			color: $hoverColor;
			background: $accentColor3;
			width: 100%;
		}
    }
}

menu,
.menu-list {
	height: 100%;

    a {
        -webkit-transition: -webkit-transform 0s 0.4s;
        transition: transform 0s 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
}

.menu{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.menu-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
    text-align: center;
	height: 23em;
    padding-left: 0;
	padding-bottom: 0.5em;

    a {
        display: block;
        -webkit-transform: translate3d(0,500px,0);
        transform: translate3d(0,500px,0);
        text-align: center;

        span {
            margin-left: 10px;
            font-weight: 700;
        }
    }

    a:nth-child(2) {
        -webkit-transform: translate3d(0,1000px,0);
        transform: translate3d(0,1000px,0);
    }

    a:nth-child(3) {
        -webkit-transform: translate3d(0,1500px,0);
        transform: translate3d(0,1500px,0);
    }

    a:nth-child(4) {
        -webkit-transform: translate3d(0,2000px,0);
        transform: translate3d(0,2000px,0);
    }

    a:nth-child(5) {
        -webkit-transform: translate3d(0,2500px,0);
        transform: translate3d(0,2500px,0);
    }
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .menu-list,
.show-menu .menu-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .menu-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-menu .content-wrap::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@import 'navBarCommon.scss';
@import 'common.scss'