/* line 4, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.row {
  padding: 1rem; }

/* line 8, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.divider {
  background-color: #001e27;
  height: 10em;
  width: 100%;
  margin-top: 6em;
  margin-bottom: 6em;
  padding-lefT: 0; }

/* line 17, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
p.alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  background: rgba(255, 0, 0, 0.25);
  color: white;
  width: 100%;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/* line 31, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
p.alertGood {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  background: rgba(0, 255, 0, 0.25);
  color: white;
  width: 100%;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/* line 46, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.blog {
  padding: 0rem; }

/* line 50, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.post {
  text-align: left;
  margin-bottom: 5rem; }
  /* line 53, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
  .post .postHeader {
    color: #99BAC1;
    background: #00373F;
    border-bottom: 0.2rem solid #99BAC1;
    width: 100%;
    padding: 1.5rem 0 0.25rem 0; }
    /* line 60, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
    .post .postHeader .postTitle {
      display: inline;
      font-size: 2rem;
      margin-left: 1rem; }
    /* line 66, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
    .post .postHeader .postDate {
      display: inline;
      font-size: 0.9rem;
      margin-left: 3rem; }
    /* line 72, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
    .post .postHeader a {
      color: #99BAC1; }
  /* line 78, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
  .post .postBody {
    padding-top: .5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #99BAC1; }
    /* line 84, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
    .post .postBody p {
      padding: 1rem; }
    /* line 88, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
    .post .postBody h1 {
      color: purple; }

/* line 96, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.contactHeader {
  padding-top: 4rem; }

/* line 100, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.contactInfo {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  margin-bottom: 5rem; }
  /* line 106, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
  .contactInfo .h3 {
    padding: 1rem; }
  /* line 110, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
  .contactInfo p {
    margin-left: 2rem; }

/* line 115, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.contactForm {
  padding-left: 4rem; }

/* line 119, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.input-group {
  padding-bottom: 2rem; }

/* line 123, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.input-group-addon {
  color: #99BAC1;
  background: #001e27;
  width: 7rem;
  text-align: center; }

/* line 131, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.btn-primary {
  background: #486D75;
  border-color: #00090E; }

/* line 139, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.resume {
  width: 80%;
  background: #001e27;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }

/* line 147, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.resumeHeader {
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-bottom: 1rem; }
  /* line 155, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
  .resumeHeader .row {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; }
  /* line 159, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
  .resumeHeader .imgHeader {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: -3.75rem; }
  /* line 166, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
  .resumeHeader .resumeHeaderName {
    font-size: 2.25rem; }

/* line 172, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.resumeBody {
  margin: 0; }

/* line 176, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.resumeBlock {
  background: #001e27;
  padding: 1rem; }

/* line 183, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.resumeBlockHeader {
  background: #486D75;
  font-size: 2rem;
  padding: 1rem;
  margin: -1rem;
  margin-bottom: .5rem;
  text-align: center; }

/* line 193, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.firstBlock .duration {
  display: inline;
  margin-top: 0.5rem; }

/* line 203, G:/wamp64/www/MJHWebsite/assets/scss/common.scss */
.technologiesBlock {
  text-align: left; }

/*# sourceMappingURL=../css/common.map */