
body{
    font-family: 'PT Mono', monospace;
    background-color: #06090E;
    color: #99BAC1;
    margin-left: auto;
    margin-right: auto;
}

#navbarSpacer{
    height: 3.8em;
    background: transparent;
    padding: 0;
}

.jumbotron{
    height: 17em;
    background-color: #06090E;
    background-image: url(../img/Jumbo.png);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-shadow: 1px 2px 2px #001E27; 
    z-index: 1;
    top: 2em;
}

.navbar-inverse .navbar-nav .nav-link{
    color: #99bac1;
}

.title{
    color: #99BAC1;
    padding: 1em;
}

.navbar{
    z-index: 9000;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(6, 9, 14, .80); 
    border-style: solid;
    border-width: 0 0 .5em 0;
    border-color: #00373F;
}

fallback:navbar{
    border-style: solid;
    border-width: 0 0 .7em 0;
    border-color: #001E27;
    background-color: #06090E;
    
}

.nav-link:hover{
    border-style: solid;
    border-width: 0 0 2 0;
    border-color: #00373F;
}

.navbar-inverse .navbar-nav .nav-link:hover {
    color: white;
    border-style: solid;
    border-width: 0 0 4 0;
    border-color: #00373F;
}
.navbar-toggleable-md .navbar-nav .nav-link{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.dropdown-menu {
    background: rgba(6, 9, 14, .80);
    opacity: .80; 
}

.divider{
    background-color: #001e27;
    height: 18em;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.dropdown-item {
    color: #99bac1;
    background: rgba(6, 9, 14, .80); 
    opacity: .80;
}


.dropdown-item:focus, .dropdown-item:hover {
    color: #99bac1;
    text-decoration: underline;
    background-color: #00373F
}


.card-inverse{
    margin: 1em;
    padding: 1em;
    background-color: #00373F;
    max-width: 20em;
}

footer{
    z-index: 8999;
    position: relative;
    background: rgba(6, 9, 14, .80); 
    border-style: solid;
    border-width: 0.5em 0 0 0;
    border-color: #00373F;
    height: 4em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.breadcrumb{
    background-color: #06090E;
    color: #99BAC1;
    margin-bottom: 0;
}
