html, body, .container, .content-wrap{
    font-family: 'PT Mono', monospace;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
	background: #06090E;
    color: #99BAC1;
	padding: 0;
}



.content-wrap{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.content{
	padding-top: 2em;
	padding-bottom: 2em;
    position: relative;
    background: #06090E;
	margin-left: 3.75em;
	margin-right: 0.25em;
}

.content::before{
    position: absolute;
    top: 0;
    left:0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Menu Button */
.menu-button {
	position: fixed;
    top: .25em;
    left: .25em;
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: #99BAC1;
	background: transparent;
    opacity: 0.8;
    width: 1.75em;
    height: 1.75em;
}


.menu-button:hover {
	opacity: .8;
}

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 1em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #99BAC1;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sideMailButton{
    position: fixed;
    top: 4.15em;
    left: 0.5em;
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: #99BAC1;
	background: transparent;
    opacity: 0.8;
}

.sideGithubButton{
    position: fixed;
    top: 2.35em;
    left: 0.575em;
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: #99BAC1;
	background: transparent;
    opacity: 0.8;
}

.spacer{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 3.5em;
    background: #001e27;
    z-index: 999;
}

/* Menu */
.menu-wrap a {
	color: #b8b7ad;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: white;
    background: none;
}

.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 15%;
	min-width: 16em;
	height: 100%;
	background: #001e27;
	padding: 1% 0 1% 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-16em,0,0);
	transform: translate3d(-16em,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu, 
.menu-list {
	height: 100%;
    text-align: center;
}

.menu{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.menu-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
    text-align: center;
	height: 70%;
	min-height: 9em;
    padding-left: 0;
	padding-bottom: 1.5em;
}

.menu-list a {
	display: block;
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
    text-align: center;
}

.menu-list,
.menu-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.menu-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.menu-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.menu-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}


.menu-list a span {
	margin-left: 10px;
	font-weight: 700;
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .menu-list,
.show-menu .menu-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.image-container{/*center the image*/
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: .8em;
}

.miniFooter{
    position: absolute;
    bottom:0;
    left:0;
    height: 5%;
	min-height: 3em;
    width: 100%;
    margin-left: auto;
	margin-right: auto;
    background: #001e27;
    border-style: solid;
    border-color: #99BAC1;
    border-width: 0.1em 0 0 0;
	overflow: visible;
}

.miniFooterContent{
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.fa-lg, fa, a.dropdown-item, a.nav-link{
    color: #99BAC1;
}

.fa:hover, a.nav-link:hover{
    color:white;
}

a.dropdown-item:hover{
    color:white;
    background: #00373F;
    width: 100%;
}

a.accordionButton{
    cursor: pointer;
}

a.dropdown-item{
    padding: 0.5em;
    padding-right: 2em;
    background: #00373F;
    text-align: right;
}

a.accordionButton:focus{
    color: white;
    background: #486D75;
    width: 100%;
}

.collapse{
    color: #99BAC1;
    background: none;
    width: 100%;
}

/*End of Header*/

.row{
	padding-top: 5em;
	padding-bottom: 5em;
}


.divider{
    background-color: #001e27;
    height: 10em;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}